:root{
    --background-main-page: #0e0e0e;
    --font-color-white: #dedede;
    --design-color: rgb(60, 190, 0);
    /*--design-color: #F99417;*/
  }
body{
background-color: #0e0e0e;
font-family: 'Roboto', sans-serif;
margin:0%;
margin-top: 0%;
width: 100%;
}
h2{
  color: var(--font-color-white);
}
header{
  background-color: var(--background-main-page);
  width: 100%;
 /* display: block;*/
  color: var(--font-color-white);
  border-bottom: var(--design-color) 5px solid;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav {
  background-color: var(--background-main-page);
  justify-content: center;
  color: var(--font-color-white);
  
 /* border-top: var(--design-color) 3px solid;
  border-bottom: var(--design-color) 3px solid;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;*/
}
.nav nav{
  position: relative;
  top: 25%;
}
nav ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0px;
  list-style-type: none;
  
}
.nav ul li a{
  
  /*margin: 20px;*/
  padding: 20px;
  color: var(--font-color-white);
  font-size: 23px;
  text-decoration: none;
  background-color: var(--background-main-page);
  transition: 0.5s all;
}
.nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(32, 190, 0);
  text-decoration: none;
}
.nav ul li a:active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(32, 190, 0);
  text-decoration: none;
}
.logo-and-buttons{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  padding-top: 1%;
 }
 .reg{
  font-size: 1.5em; 
  text-align: center;
  height: fit-content;
  padding-top: 1.7%;
 }
 #toggle{
  display: none;
 }
 .logo{
  background-color: var(--background-main-page);
  position:static;
  padding: 1%;
  padding-top: 0%;
  color: var(--font-color-white);
  margin: 0%;
  font-size: 0.7em;
 }
 #notificationButton{
  color: black;
  background-color: var(--design-color);
  position: relative;
  margin: 2%;
  padding: 1%;
  border-radius: 50%;
 }
 #notificationButton #notificationCount{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
 #notificationContainer {
  position: absolute;
  background-color: #3eb100;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  padding: 1%;
  z-index: 1;
  color: black;
}
#notificationsList li {
  border-bottom: 1px solid #000000;
}
.notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #09ff00;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  transition: opacity 0.5s;
  opacity: 0;
}
#dynamicList{
  color: var(--font-color-white);
}

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  main{
    padding: 5%;
  }
  .main-part{
    justify-self: center;
    position: relative;
    padding-bottom: 30%;
  }
  .title{
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: space-between;
    font-size: 1.5em;
    padding-left: 5%;
   justify-self: center;
  }
  .title img{
    padding: 2%;
    width: 500px;
    height: 300px;
  }
  .title p{
    width: 100%;
  }
  
  .greetings{
    position: relative;
  }
  .greetings img{
    /*background-image: url("https://i.pinimg.com/originals/45/e3/41/45e34127b71091a7d5faeff6838b8f8d.jpg");*/
    width:100%;
    height: 700px;

  }
  .greetings::before{
    position: absolute;
    top: 25%;
    left: 25%;
    content: "Formula-One";
    content: "Формула-1, часто сокращаемая как F1, - это вид гонок на открытых колесах, санкционированный Международной федерацией автомобилестроения (FIA). Это высший класс автомобильных гонок, и он регулируется сводом правил и предписаний, призванных обеспечить безопасность и честность1.";
   width: 50%;
   font-size: 2em;
   color: var(--font-color-white);
   background-color: rgba(0, 0, 0, 0.634);
   padding: 2%;
   border-radius: 2%;
  }
  
 

.main-refers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* width: 100%;*/
    padding: 2%;
}
.main-refers img{
    height: 1000px;
    width: 600px;
}

p{
    color: var(--font-color-white);
}

/*.news-shell{
    border-top: var(--design-color) solid 3px;
    border-bottom: var(--design-color) solid 3px;
  }
     
     .news{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: var(--background-main-page);
      padding: 1%;
      margin-bottom: 5%;
      justify-content: space-around;
      align-items: center;
     
     }
  
     .news-1,
     .news-2,
     .news-3{
      position: relative;
     }
  
  
     .news-1 p::before,
     .news-2 p::before,
     .news-3 p::before{
      content: "";
      position: absolute;
      height: 5em;
      width: 0.25em;
      left: -0.5em;
      background-color: #ffffff;
      transition: all 0.2s ease-in-out;
     }
  
     .news img{
      transition: opacity 0.5s ease-in-out;
      border-radius: 3%;
     }
     .news-1:hover img,
     .news-2:hover img,
     .news-3:hover img {
      opacity: 0.3;
    }
    .news p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      color: var(--font-color-white);
    }
  
    .news-1:hover p,
     .news-2:hover p,
     .news-3:hover p {
      opacity: 1;
    }
*/

 
 /* Add an italic font style to all quotes */
 .text {
  color: #f2f2f2;
  font-size: 1.5em;
  
  position: absolute;
  bottom: 8px;
  width: 50%;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.56);
  
 }
 /*******************************************************************************/
 .carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-top: var(--design-color) 5px solid;
  border-bottom: var(--design-color) 5px solid;

 }
 
 .carousel-item {
  position: absolute;
  width: 100%;
 
  height: 100%;
  transition: transform 1s ease-in-out;

 }
 
 .carousel-item img {
  width: 50%;
  padding-left: 25%;
  height: 100%;
  object-fit: cover;
  
 }
 

.history{
    font-size: 25px;
    padding: 5%;
    position: relative;
    
}

.gallery{
 
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--background-main-page);
    padding: 5%;
    margin: 0%;
    gap: 2%;
    grid-template-areas: 
      "p1 p2 p3 p6 p7"
      "p4 p5 p10 p8 p9";
      border-bottom: var(--design-color) 5px solid;
      border-top: var(--design-color) 5px solid;

}
.gallery:nth-child(1){
  grid-area: p1;
}
.gallery:nth-child(2){
  grid-area: p2;
  
}
.gallery:nth-child(3){
  grid-area: p3;
}
.gallery:nth-child(4){
  grid-area: p4;
}
.gallery:nth-child(5){
  grid-area: p5;
}
.gallery:nth-child(6){
  grid-area: p6;
}
.gallery:nth-child(7){
  grid-area: p7;
}
.gallery:nth-child(8){
  grid-area: p8;
}
.gallery:nth-child(9){
  grid-area: p9;
}
.gallery:nth-child(10){
  grid-area: p10;
}
.gallery img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s all;
  /*backdrop-filter: brightness(100%);*/
  
}

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-template-areas: "about-us refers contacts";
    margin: 0%;
    padding: 5%;
    background-color: var(--background-main-page);
    color: var(--font-color-white);
  }

    .footer h3{
      width: fit-content;
      position: relative;
      font-size: 25px;
      font-weight: bold;
    }
    
    .footer h3::before{
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 1px;
      background: var(--background-main-page);
      transition: 1s all;
      
    }
    .footer-about-us:hover h3::before{
      box-shadow: inset 6.5em 0 0 0 rgb(255, 255, 255);
    }
    .footer-refers:hover h3::before{
      box-shadow: inset 6.5em 0 0 0 rgb(255, 255, 255);
    }
    .footer-contacts:hover h3::before{
      box-shadow: inset 8.5em 0 0 0 rgb(255, 255, 255);
    }
    
    
    .footer-about-us{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      grid-area: about-us;
      justify-self: center;
      
    }
    .footer-about-us p{
      font-size: 18px;
    }
    .footer-refers{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      grid-area: refers;
      justify-self: center;
    }
    .footer-refers a{
      color: var(--font-color-white);
      text-decoration: none;
      font-size: 18px;
    }
    .footer-contacts{
      display: flex;
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      grid-area: contacts;
      justify-self: center;
      text-align: center;
    }
    
    
    .social-buttons a{
      z-index: 5;
    }
    .social-buttons{
      position: relative;
      padding: 5%;
      display: flex;
      flex-direction: row;
    }
    
    .button-vk,
    .button-telegram,
    .button-steam {
      position: relative;
      padding: 10px 20px;
      color: var(--font-color-white);
      text-decoration: none;
      font-weight: bold;
      border-radius: 45%;
      cursor: pointer;
      /*background: linear-gradient(to right, rgb(0, 0, 255), rgb(30, 155, 13));*/
      
    }
    
    .button-vk{
      background: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 255, 255));
    }
    .button-telegram{
      background: linear-gradient(to right, rgba(0, 0, 255, 0.518), rgb(255, 255, 255));
    }
    .button-steam{
      background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0.525));
    }
    .button-vk::before,
    .button-telegram::before,
    .button-steam::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      background-color: rgb(0, 0, 0);
      transform: translateY(0px);
      z-index: -1;
    }
    
    .button-vk:hover::before,
    .button-telegram:hover::before,
    .button-steam:hover::before {
      animation-name: paint;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }



  @media (min-aspect-ratio: 16/9) {
    iframe {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    iframe {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width: 768px) {
    iframe {
      display: none;
    }
    #main{
      background: url(/snapshot.png);
      background-size: cover;
    }
  }

  #view360Iframe{
    position: absolute;
    top: 85%;
    left: 3%;
    margin: 2%;
    width: 90%;
    height: 300px;
  }

  @keyframes paint {
    from{
      transform: translate(0,0);
    }
    to{
      transform: translate(0px,40px);
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    .footer{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "about-us refers"
      "contacts contacts";
      margin: 0%;
      padding: 5%;
      background-color: black;
      color: white;
    }
  }
  
  @media (min-width: 320px) and (max-width: 768px) {
  
    #toggle {
      display: none;
    }
    
    /**
      Hamburger
    **/
    .hamburger {
      
      position: absolute;
      top: 75%;
      left: 10%;
      margin-left: -2em;
      margin-top: -45px;
      width: 2em;
      height: 45px;
      z-index: 5;
    }
    
    .hamburger div {
      position: relative;
      width: 3em;
      height: 7px;
      border-radius: 3px;
      background-color: #ffffff;
      margin-top: 8px;
      transition:  0.3s all ease-in-out;
    }
    
    /**
    Nav Styles
    **/
    .nav {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #000000;
      top: -100%; left: 0; right: 0; bottom: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      transform: scale(0);
    }
    .nav-wrapper {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
    }
    .nav nav {
      text-align: center;
      top: 15%;
    }
    nav ul{
      padding: 0%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    nav a {
      position: relative;
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5em;
      display: inline-block;
      margin-top: 1.25em;
      transition: color 0.2s ease-in-out;
      letter-spacing: 1px;
      width: 50%;
    }
    nav a:before {
      content: '';
      height: 0;
      position: absolute;
      width: 0.25em;
      background-color: rgb(50, 215, 0);
      left: -0.5em;
      transition: all 0.2s ease-in-out;
    }
    nav a:hover {
      color: rgb(68, 255, 0);
    }
    nav a:hover:before {
      height: 100%;
    }
    
    /**
    Animations
    **/
    #toggle:checked + .hamburger .top-bun {
      transform: rotate(-45deg);
      margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
      opacity: 0;
      transform: rotate(45deg);
      
    }
    #toggle:checked + .hamburger .meat {
      transform: rotate(45deg);
      margin-top: -7px;
    }
    
    #toggle:checked + .hamburger + .nav {
      top: 0;
      transform: scale(1);
    }
  
   
    .footer{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
      "about-us" 
      "refers"
      "contacts";
      margin: 0%;
      padding: 5%;
      background-color: black;
      color: white;
    }
  
     aside{
      float:none;
      width: fit-content;
      background: var(--background-main-page);
      color: var(--font-color-white);
      padding: 3% 3% 3% 3%;
      justify-content: center;
     }
     aside img{
      width: 100%;
      border-radius: 2%;
     }
     .aside-news-block{
      cursor: pointer;
      transition: 0.5s all;
      padding: 1%;
      font-weight: bold;
     }
     .aside-news-block:hover{
      transform: scale(1.02);
     }
     .aside-news-block a{
      text-decoration: none;
      color: var(--font-color-white);
     }
  
     .main-news{
      overflow: hidden;
      position: relative;
      width: fit-content;
      height: auto;
      /*object-fit: cover;*/
      font-size: 25px;
      padding: 3% 3% 3% 3%;
     }
     .main-news-text h3{
      font-size: 1em;
     }
     .main-news img{
      width: 100%;
      border-radius: 2%;
     }
    
     .main-news-text .title{
      position: absolute;
      top: 25%;
      left: 25%;
    
     }
    
     .main-news-text{
      padding: 5px;
      color: var(--font-color-white);
      position: relative;
      
      /*padding-top: 10%;
      padding-bottom: 30%;*/
     }
  
     .video-container{
      width: fit-content;
     }
     .gallery{
      justify-content: center;
     }
  
     #notificationButton{
      color: black;
      background-color: var(--design-color);
      position: relative;
      margin: 2%;
      padding: 4%;
      border-radius: 50%;
      font-size: 1.25em;
      z-index: -1;
     }
     .logo-and-buttons{
      justify-content: space-around;
     }
     
    
    
    .greetings img{
      /*background-image: url("https://i.pinimg.com/originals/45/e3/41/45e34127b71091a7d5faeff6838b8f8d.jpg");*/
      width:100%;
      height: fit-content;
  
    }
    .greetings::before{
      position: absolute;
      top: 10%;
      left: 12.5%;
      content: "Formula-One";
      content: "Формула-1, часто сокращаемая как F1, - это вид гонок на открытых колесах, санкционированный Международной федерацией автомобилестроения (FIA). Это высший класс автомобильных гонок, и он регулируется сводом правил и предписаний, призванных обеспечить безопасность и честность1.";
     width: 75%;
     font-size: 0.9em;
     
    }

    .title{
      display: flex;
      flex-direction: column;
      padding: 1%;
      justify-content: space-between;
      font-size: 1.5em;
      padding-left: 5%;
     justify-self: center;
    }
    .title img{
      padding: 2%;
      width: 100%;
      height: fit-content;
    }
    .title p{
      width: 100%;
    }

    .gallery{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p6"
        "p7"
        "p4" 
        "p5" 
        "p10" 
        "p8" 
        "p9";
        gap: 1%;
  }
  h2{
    color: var(--font-color-white);
  }


  .carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-top: var(--design-color) 5px solid;
    border-bottom: var(--design-color) 5px solid;
  
   }
   
   .carousel-item {
    position: absolute;
    width: 100%;
   
    height: 100%;
    transition: transform 1s ease-in-out;
  
   }
   
   .carousel-item img {
    width: 50%;
    padding-left: 25%;
    height: 100%;
    object-fit: cover;
    
   }


  }